#parse("relnotes.vm")
#stdHeader("2.1", "22")

* General Changes

  * RNG now configured via dependency injection.

  * <<<Rating>>> class now has <<<hasValue()>>> and <<<getValue()>>> methods for convenience.

  * Recommender engines can now be deserialized with arbitrary class loaders (fixes bugs using
    LensKit in Play, see #issue(434)).

  * Added <<<lenskit-all>>> module so you can easily depend on all of LensKit with a single
    dependency.

  []

* Data Access

  * New methods to more easily construct DAOs (#issue(346))

  []

* Algorithms

  * Updated user-user CF to be simpler & make better use of new DAOs (#issue(356)).

  []

* Evaluator

  * The evaluator now supports loading algorithms from config files in both train-test
    and graph dumping tasks (#issue(406)).

  * In single-threaded mode, run eval tasks on the same thread as the evaluator (#issue(426)).

  []

* Utilities

  * Remove <<<TaskGroupRunner>>> in favor of new <<<TaskGroup>>> class.

  []
