#parse("relnotes.vm")
#stdHeader("2.0")

  * Remove many deprecated classes and methods, including algorithm-specific recommenders.

  * <<<RatingPredictor>>> no longer extends <<<ItemScorer>>>.

  []

* Data Structures

  * More <<<SparseVectors>>> methods now throw <<<IllegalArgumentException>>> on invalid keys,
    rather than being no-ops or returning <<<NaN>>>.

  []