#parse("relnotes.vm")
#header("2.0.4")

  This is a minor enhancement release in the 2.0 series.

  #pmIntro("2.0.5", 28)

  * Add <<<.o.g.l.indexes>>> to <<<lenskit-data-structures>>> to maintain indexes, replacing the
    old <<<Index>>> and <<<Indexer>>> classes.

  * Clean up some of the evaluator's logging output.

  * Run train-test tasks on the main thread when thread count is 1.

  []
