#parse("relnotes.vm")
#header("2.0.3")

  This is the third bugfix release in the 2.0 series.

  #pmIntro("2.0.3", 21)

  * Fix <<<TopNItemRecommender>>> bug when no scores are available (#issue(373)).

  * Fix bug in <<<retainAll>>> for long sorted array sets (#issue(379)).

  * Fix erroneous fix for scorer null pointer problems (#issue(363)).

  * Add <<<MeanCenteringVectorNormalizer>>> for more efficient mean centering.

  * Improve evaluator error reporting and logging output.

  * Small performance improvements.

  * Initial support for Top-N evaluation (#issue(388)).

  []

* Credits

  Thanks to #user("hmf") and #user("ethanl") for reporting bugs fixed in this release.