#parse("relnotes.vm")
#stdHeader("0.8.1")

  Bugfix release.

  * Fix off-by-1 error in packed rating snapshot that occurs in
    certain conditions with unrate events (#issue(121)).

  * Make <<<UserVector>>> construction from histories always return
    complete vectors.

  []
