#parse("relnotes.vm")
#stdHeader("0.3.1")

  * Removed the generic parameter from <<<DAOFactory>>>.  We will be
    ensuring in a later release that the dependency injection
    mechanism allows subclasses of <<<DataAccessObject>>> to be
    visible as such.

  []
  
