#parse("relnotes.vm")
#stdHeader("1.2")

  * Added <<<LenskitConfiguration>>> class and deprecated <<<LenskitRecommenderEngineFactory>>>.
    Use <<<LenskitRecommenderEngine.build()>>> to build an engine from a configuration.

  * Added <<<PreferenceDomainBuilder>>> to build preference domains.

  * <<<PreferenceDomain>>> now uses a precision of 0 to represent continuous scales (#issue(327));
    the value is still formally undefined behavior, but code which (incorrectly) depended on the
    precision when a domain does not have a precision may need to be corrected.

  []

** Evaluator

  * Renamed <<<Command.getConfig())>>> to <<<Command.getEvalConfig()>>>. Also renamed the setter.

  []