                               ---------------
                                Release 1.0.1
                               ---------------

Release 1.0.1
  
  The {{{https://bitbucket.org/grouplens/lenskit}Mercurial changelog}} and the
  {{{http://bitbucket.org/grouplens/lenskit/issues?milestone=1.0.1&status=resolved}list
  of closed tickets}} provide more information on what has happened,
  including bugs that have been fixed.

  This release contains bug fixes against 1.0.
  
  <<Note>>: recommender engines serialized with LensKit 1.0 are not compatible with
  LensKit 1.0.1. You will need to re-build and re-serialize your engines.

  * Fix broken rec. engine factory serialization (#issue(221)).

  []
