#parse("relnotes.vm")
#stdHeader("1.3")

  * Added <<<RatingBuilder>>> to build ratings.

  * Deprecated <<<Event.copy>>>; specific event builders should be used to copy events.

  * Added type-safe side channels of arbitrary data to vectors.

  * Replaced many public fields with methods in <<<FunkSVDModel>>>.

  []

* Evaluator

  The evaluator has seen heavy refactoring and rewrite in 1.2.  Eval scripts are mostly compatible;
  these notes focus on user-visible differences.  Code that directly used the eval classes will
  likely need updates that are not described here.

  * For tasks (which replace commands), the eval config is available as the <<<evalConfig>>>
    property (rather than the old <<<config>>>).  <<<config>>> is still available as a top-level
    property on the script; it is also accessible as <<<eval.config>>>, with the new <<<eval>>>
    property that makes the script accessible by name.

  * Renamed <<<Command.getConfig())>>> to <<<Command.getEvalConfig()>>>. Also renamed the setter.
    longer takes a name.

  []