#parse("relnotes.vm")
#stdHeader("2.0")

  * Remove many deprecated classes and methods, including algorithm-specific recommenders.

  * <<<RatingPredictor>>> no longer extends <<<ItemScorer>>>.

  * <<<Recommender>>>s are no longer <<<Closeable>>>, and do not need to be closed.  They can
    be left to be garbage collected.  To reflect this, <<<RecommenderEngine.open()>>> has been
    renamed <<<createRecommender()>>>.

  * The way DAOs work has been completely rewritten.  There is non longer a monolithic
    <<<DataAccessObject>>>, but several modular DAO instances.  Documentation on this is
    forthcoming.

  []

* Data Structures

  * More <<<SparseVectors>>> methods now throw <<<IllegalArgumentException>>> on invalid keys,
    rather than being no-ops or returning <<<NaN>>>.

  []