#parse("relnotes.vm")
#stdHeader("2.0.1")

  * Revised fancy archetype with cleaner layout and better comments.

  * Fixed data download error in fancy archetype (#issue(349)).

  * Fixed output of <<<lenskit-eval --version>>> (#issue(345)).

  * Annotated <<<SimpleRatingPredictor>>>'s primary scorer with <<<@PrimaryScorer>>>.  This
    should have been done in LensKit 2.0.

  []