#macro( issue $num )##
{{{https://github.com/grouplens/lenskit/issues/$num}#$num}}##
#end
#macro( user $name)##
{{{https://github.com/$name}@$name}}##
#end

#macro( makeHeader $ver $tail )##
                         --------------------
                          Release $ver $tail
                         --------------------

Release $ver $tail
#end

#macro( header $ver )##
#if( $project.version == "${ver}-SNAPSHOT" )##
#makeHeader($ver, "(in progress)")
#else
#makeHeader($ver, "")
#end
#end

#macro( pmIntro $ver $ms )
#if( $project.version == "${ver}-SNAPSHOT" )##
#set( $commits = "commits" )
#else
#set( $commits = "commits/lenskit-$ver" )
#end

#if($ms)
  The {{{https://github.com/grouplens/lenskit/$commits}Git changelog}} and the
  {{{https://github.com/grouplens/lenskit/issues?milestone=$ms&state=closed}list
  of closed tickets and pull requests}} provide more information on what has happened,
  including bugs that have been fixed.
#else
  The {{{https://github.com/grouplens/lenskit/$commits}Git changelog}} provides more
  information on what has happened.
#end
#end

#macro( stdHeader $ver $ms )
#header($ver)

  #pmIntro($ver, $ms)
#end
