<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
    <encoder>
      <pattern>%-5level %logger{24} - %msg%n</pattern>
    </encoder>
    <file>${project.build.directory:-target}/test.log</file>
    <append>false</append>
  </appender>

  <root level="${logging.level:-DEBUG}">
    <appender-ref ref="LOGFILE"/>
  </root>
</configuration>
