target
/classes
.project
.classpath
.settings
.vagrant
/.idea_modules
.gradle
gradle.properties
local.gradle
/build
/*/build
/out
/bin
/*/out
/*/bin
/.idea
*.iml
*.ipr
*.iws
.DS_Store
TAGS
ERRS
*.log
