                -------------------------------------
                            Documentation
                -------------------------------------

#macro ( wiki $name $lbl )##
{{{http://dev.grouplens.org/trac/lenskit/wiki/$name}#$lbl}}##
#end

LensKit Documentation

  * {{{http://dev.grouplens.org/trac/lenskit/wiki/Manual}Manual}}

    * {{{http://dev.grouplens.org/trac/lenskit/wiki/Manual/GettingStarted}Getting Started}}

    * {{{http://dev.grouplens.org/trac/lenskit/wiki/Manual/Configuration}Configuring Recommenders}}

    * {{{http://dev.grouplens.org/trac/lenskit/wiki/Manual/Evaluator}Using the Evaluator}}

    []
                                       
  * {{{./apidocs}Combined API documentation}} (merged JavaDoc for all
    modules)

  []

  LensKit is divided into several modules.  Some of these modules can
  be used independently (e.g. <<<lenskit-data-structures>>> can be
  used to take advantage of LensKit's <<<SparseVector>>>, etc. in
  other projects).  For most purposes the combined API documentation
  (above) is more valuable, but their individual Maven-generated
  sites, with per-module JavaDoc and reporting, are
  {{{./modules.html}linked here}}.

  []

