                -------------------------------------
                            Documentation
                -------------------------------------

LensKit Documentation

  * {{{http://bitbucket.org/grouplens/lenskit/wiki/GettingStarted}Getting Started}}

  * {{{http://bitbucket.org/grouplens/lenskit/wiki/Manual}Manual}}

  * {{{./apidocs}Combined API documentation}} (merged JavaDoc for all modules)

  []

  LensKit is divided into several modules.  Some of these modules can
  be used independently (e.g. <<<lenskit-data-structures>>> can be
  used to take advantage of LensKit's <<<SparseVector>>>, etc. in
  other projects).  For most purposes the combined API documentation
  (above) is more valuable, but their individual Maven-generated
  sites, with per-module JavaDoc and reporting, are
  {{{./modules.html}linked here}}.

* Additional Reports

  These are mostly useful for development, but here are some of the standard Maven reports
  generated for LensKit:

  * {{{./dependencies.html}Dependencies}}

  * {{{./dependency-management.html}Dependency Management}}

  * {{{./dependency-convergence.html}Dependency Convergence}}

  * {{{./plugins.html}Plugins}}

  []

