                -------------------------------------
                           Getting Started
                -------------------------------------

Overview

  LensKit uses a couple of key Java technologies aimed at making it
  easier to configure and use the recommender while allowing a great
  deal of flexibility in how the recommender is configured.  These are
  {{{http://maven.apache.org}Maven}}, a Java project and build
  framework which also takes care of resolving dependencies, and
  {{{http://code.google.com/p/google-guice/}Guice}}, which allows
  recommender implementations to be highly modular and generic.  The
  basic process to create a project using LensKit follows these steps:

  [[1]] Create a new Maven project that depends on <<<lenskit-core>>>
        and the packages providing the recommenders you want (such as
        <<<lenskit-knn>>>).  In Eclipse with
        {{{http://m2eclipse.sonatype.org/}M2Eclipse}}, this can be
        done easily from the New Project wizard.  See
        {{{http://www.sonatype.com/developing-with-eclipse-and-maven-book.html}Developing
        with Eclipse and Maven}} for more information on using Maven
        in Eclipse.

  [[2]] Set up the recommender configuration, either by using one of
        the existing Guice modules or creating a new one.

  [[3]] Configure the data source for recommendation.

  [[4]] Create a Guice injector from the module and use it to create a
        new <<<RecommenderServiceProvider>>>.

  [[5]] Get a <<<RecommenderService>>> from the
        <<<RecommenderServiceProvider>>>, get a
        <<<RatingRecommender>>> or <<<RatingPredictor>>> from the
        service provider, and start generating recommendations.

Creating a Project

  While it is possible to download LensKit jars, all dependency jars,
  and use them in your build, we highly recommend using Maven (or a
  compatible tool such as Ivy) to manage dependencies in your project.
  To get started, create a new Maven project in Eclipse, NetBeans, or
  at the command line:

+--------------------------------------+
  mvn archetype:create -DarchetypeGroupId=org.apache.maven.archetypes \
      -DgroupId=org.myorg.app -DartifactId=my-app
+--------------------------------------+

  Edit the POM to add <<<LensKit-core>>> as a dependency (Eclipse will
  make this easy, allowing you to search through the Maven Central
  repository for LensKit once it is published there).  The XML to do this is:

+---------------------------------------+
  <dependency>
    <groupId>org.grouplens.lenskit</groupId>
    <artifactId>lenskit-core</artifactId>
    <version>${project.version}</version>
  </dependency>
+---------------------------------------+


  For more introductory material, see the
  {{{http://maven.apache.org/guides/getting-started/index.html}Maven
  Getting Started Guide}}.

* Maven reference materials

  Maven has a fair amount of documentation at its
  {{{http://maven.apache.org}home page}}.  Sonatype has also provided
  free online access to some books on it:

  * {{{http://www.sonatype.com/books/mvnex-book/reference/public-book.html}Maven by Example}}

  * {{{http://www.sonatype.com/books/mvnref-book/reference/public-book.html}Maven: The Complete Reference}}

  * {{{http://www.sonatype.com/developing-with-eclipse-and-maven-book.html}Developing with Eclipse and Maven}}

  []

Configuring and Creating the Recommender

  The recommender implementations in LensKit are highly modular to
  allow their behavior to be customized and to allow individual pieces
  to be individually replaced.  In order to facilitate this kind of
  modularity, it is useful to have some way to configure the pieces to
  be used to build a particular recommender.  LensKit accomplishes
  this through the {{{http://code.google.com/p/google-guice/}Guice
  dependency injection framework}}.

  LensKit is configured through Guice <modules>.  These are classes
  which use the Guice API to configure the recommender, e.g. defining
  that <<<org.grouplens.LensKit.knn.CosineSimilarity>>> should be used
  to compute item similarities.  Each recommender provides a default
  module that exposes the various parameters of that recommender via
  Bean properties, so in many cases you will not need to write a Guice
  module yourself.  One such module is
  {{{./apidocs/org/grouplens/LensKit/knn/item/ItemRecommenderModule}ItemRecommenderModule}}},
  which configures an item-item collaborative filter.

  You also need to configure your data source.  The recommendation
  framework depends on having access to data sources via the
  <<<RatingDataSource>>> interface.

  Once you have a recommender configuration, use it to create a Guice
  injector and get the recommender.  The following code does this,
  using an anonymous class to provide access to the data source and
  setting up the recommender module:

+-----------------------------------------------------------------+
  Module dataModule = new AbstractModule() {
      protected configure() { }
      @Provides @Singleton
      public RatingDataAccessObject provideDataSource() {
          return new SimpleFileDAO(fileName);
      }
  };
  Module recModule = new ItemRecommenderModule();
  Injector injector = Guice.createInjector(dataModule, recModule);
  RecommenderServiceProvider provider =
      injector.createInstance(RecommenderServiceProvider.class);
  try {
      RecommenderService recommender = provider.get();
      // do some recommendation!
  } catch (RecommenderNotAvailableException e) {
      // recommender is not available for some reason
      e.printStackTrace(System.err);
  }
+-----------------------------------------------------------------+

Further Topics

  There are quite a few things that need to be documented.  For now,
  browse the {{{./apidocs/}API documentation}} and the
  {{{./xref/}sources}} to see more of how LensKit works and how to use
  it.

Getting LensKit from Mercurial

  If you want to use the latest and greatest LensKit code, you can get
  it from the {{{http://dev.grouplens.org/hg/lenskit}Mercurial
  repository}}.  Clone the repository and install it to your local
  Maven repository:

+--------------------------------------+
  $ hg clone http://dev.grouplens.org/hg/lenskit
  $ cd lenskit
  $ mvn install
+--------------------------------------+

  This will build the jars and make them available to other Maven
  projects.

  You can also load LensKit into an Eclipse or NetBeans workspace.
  Unfortunately, you cannot use M2Eclipse's "Check Out from Version
  Control" feature since they do not have Mercurial support; however,
  if you clone on the command line, you can import the project as an
  existing Maven project.  If you have MercurialEclipse installed, it
  will automatically detect that LensKit is a Mercurial project.
