                               -------
                                About
                               -------

  LensKit is an open source toolkit for building, researching, and
  studying recommender systems.

Build

  Do you need a recommender for your next project?  LensKit provides
  high-quality implementations of well-regarded collaborative
  filtering algorithms and is designed for integration into web
  applications and other similarly complex environments.

Research

  Do you want to experiment with new recommender algorithms or
  evaluation strategies?  LensKit provides infrastructure to manage
  configuration, data access, and the model build process, and allows
  you to easily compare your new algorithm against high-quality
  implementations of existing well-accepted algorithms.

Study

  LensKit's source code is freely available under an open source
  license and is suitable for self-study or use in classroom settings.
  Our goal is to produce readable, straightforward implementations
  that achieve good performance while at the same time serving as
  executable documentation for how to turn recommender algorithms from
  math to code, as well as a working example of how to deal with the
  details necessary to connect recommenders to databases, manage
  models and configuration, and integrate them into web-based
  environments.
