                -------------------------------------
			 Module Site Reports
                -------------------------------------

  Here is the information generated automatically from Maven about
  each project.  You can find the JavaDoc for each project by visiting
  the Project Reports/JavaDoc link in the left hand sidebar.

#foreach ($proj in $project.modules)
  * {{{./${proj}/}${proj}}}

#end

[]
