                        ---------------------
                        LensKit Release Notes
                        ---------------------

Release ${project.version}

  These release notes cover large, user-facing things.  See the
  {{{http://dev.grouplens.org/hg/lenskit}Mercurial changelog}} for
  complete change listings.

  * Fixed <<<SVDRatingPredictor>>>'s use of baselines to be correct
    and restore FunkSVD performance.

  * Renamed SparseVector.containsId to SparseVector.containsKey for
    improved consistency (the original method is retained as a
    deprecated compatibility shim and will be removed before we reach
    1.0.).

  * Renamed and refactored classes in the recommender implementations
    to improve clarity and consistency.

  * Upgraded to Guice 3.0 and Maven 3.

  * Added recommender graphing support to the Maven plugin.

  * Lots of documentation improvements.

  []

Release 0.0.2 (March 28, 2011)

  This release contains a number of API changes to make the API
  cleaner and easier to move forward.

  * Renamed <<<BuildContext>>> to <<<RatingBuildContext>>> to allow
    for a future <<<BasketBuildContext>>>.

  * Added support for excluded items to recommendation API.

  * Added <<<AbstractRatingRecommender>>> helper class to make
    implementing rating recommenders easier.

  * Removed the <<<RecommenderService>>> class and several related
    classes to clean up the API.  Client code should directly request
    <<<RatingRecommender>>> or <<<RatingPredictor>>> instances, and
    modules should scope them and their dependencies appropriately to
    avoid duplicating recommender models.

  []

* API Compatibility Notes

    * Code dependent on <<<BuildContext>>> or <<<PackedBuildContext>>>
      must be updated to use <<<RatingBuildContext>>> and
      <<<PackedRatingBuildContext>>> instead.

    * Code implementing <<<RatingRecommender>>> must be updated to
      implement the new API.  We recommend using
      <<<AbstractRatingRecommender>>> to help with this.

    * All code must be updated to directly receive injected
      <<<RatingRecommender>>> and/or <<<RatingPredictor>>> instances
      (or providers thereof).

    []

Release 0.0.1 (March 25, 2011)

  * Initial release

  []
