#parse("relnotes.vm")
#stdHeader("1.0.1")

This release contains bug fixes against 1.0.
  
**Note**: recommender engines serialized with LensKit 1.0 are not compatible with
LensKit 1.0.1. You will need to re-build and re-serialize your engines.

-   Fix broken rec. engine factory serialization (#issue(221)).

